body {
  background-color: mistyrose;
  color:rgb(29, 37, 42) ;
  font-family: 'Times New Roman', Times, serif;
}
  
p {
  background-color: snow;
  color:rgb(29, 37, 42) ;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.1em;
  padding: 0em 1em 0em 1em;
  margin-left:1%;
  margin-right: 2%;
}

dl{
  background-color: snow;
  color:rgb(29, 37, 42) ;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.1em;
  margin-right: 1%;
}

h1 {
  color: snow;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 0.5em;
  font-style:italic;
  font-size: 2em;
}

header {
  text-align: justify;
  background:  #13732e;
  font-size: 1.1em;
  margin: 2%;
}

a.simDifLink:any-link{
  display: inline;
  color:rgb(19, 115, 46); 
}

a.simDifLink:hover{
  color:lightpink; 
}

.backToNav a:any-link{
  color:rgb(19, 115, 46);
  margin: 2%;
}

.backToNav a:hover{
  color:lightpink;
}

.navbar a:link {
  color: snow;
}

.navbar a:visited {
  color: lightpink;
}

.navbar a:hover {
  text-decoration: underline;
  color: lightpink;
}

.navbar ul{
  list-style: none;
  background:  rgb(19, 115, 46);
  text-align: center;
  width:94%;
  margin-left: 1%;
}

.navbar li{
  display: inline-block;
}

.navbar a{
  text-decoration: none;
  display:block;
  padding: 1em;
  text-align: center;
  justify-content: flex-start;
}

.flexImage{
  margin-left: 2%;
}

.blurb{
  background-color:snow;
  color:rgb(29, 37, 42) ;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.1em;
  text-align: center;
  line-height: 1.7em;
  padding:2%;
}

.container1{
  display: inline-flex;
  flex-direction: row;
  margin: 2%;
  align-self: flex-start;
  align-content: center;
}

h2 {
  color: rgb(19, 115, 46);
  font-family: 'Times New Roman', Times, serif;
  font-style:italic;  
  margin: 1% 1% 1% 2%;
  font-size: 2em;
  font-style:bold;
}

.container2{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
} 

#introHeading h3{
  color:rgb(29, 37, 42) ;
  font-weight: normal;
  font-size:1.2em;
  font-style: normal;
}

.topicRows h3{
  font-weight: normal;
}

.pinkYarn{
  margin:2%;
  padding:2%;
  background-color:rgb(19, 115, 46) ;
  width:40%;
  align-self:self-start;
}

.greenCircles{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left:2%;
}

h3{
  color: rgb(19, 115, 46);
  font-family: 'Times New Roman', Times, serif;
  font-style:italic;  
  margin: 1% 2% 1% 2%;
  font-size: 1.5em;
  font-style:bold;
}

.featuredTopicHeading{
  font-size: 1.1em;
  text-align: center;
}

.topicRows{
  background-color: snow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1%;
  row-gap: 2%;
  min-width: 48%;
}

#featured{ /* Featured container includes both the topicRows and sheep */
  display: inline-flex;
  flex-wrap: nowrap;
  margin: 2%;
  flex-direction: row;
}

.knittingPinkNeedles{
  float: right;
  width: fit-content;
}

.knittingBlueNeedles{
  float: left;
  width: fit-content;
}

.intro p{
  padding: 2%;
  margin: 0% 2% 0% 2%;
  font-size: 1.1em;
  text-align: center;
  line-height: 1.7em;
}

.container3{
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: flex-start;
  margin: 0% 2% 2% 2%;
}

ul{
  margin-left: 4%;
  background-color: snow;
  color:rgb(29, 37, 42) ;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.1em;
  padding: 0% 1% 0% 1%;
}

.section{
  margin: 2%;
  background-color: snow; 
  padding: 1%;
}

.container4 {
  display: inline-flex;
  flex-direction: row;
  margin-left: 2%;
  margin-right: 2%;
  align-content: center;
  align-items: center;
  white-space: nowrap;
}

li {
  padding-bottom: 0.5em;
}

.h2Center{
  text-align: center;
  margin:1.5%;
  padding: 0.5%;
}

.container5{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: flex-start;
}

#garterStitchChart{
 min-width: 40%;
 padding-top: 1%;
 background-color: #13732e;
 margin: 2%;
}

#garterStitchChart{
  color: snow;
}

figcaption{
  text-align: center;
  padding:1.5%;
  margin-bottom: 2%;
}

#inlineImages {
  margin: 0%;
  padding: 0%;
  max-width: 100%;
}

.container6{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: snow; 
  margin-left:2%;
  max-width: 94%;
  padding: 1%;
  margin-right: 2%;
  margin-bottom: 1%;
}

.container6 img{
  width:  13.3em;
  height: 13.3em;
  object-fit: cover;
}

.greenCirclesMiddle{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 2%;
}

#crochetIntro {
  min-width: 60%;
  margin: 0%;
  font-size: 1.1em;
  text-align: center;
  line-height: 1.9em;
}

.greenCirclesLeft{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin: 2%;
}

#singleCrochet {
  background-color: #13732e; /*maybe green?*/
  margin: 2%;
  min-width: 30%;
  color: snow;
}

#sheepLandscape{
  padding-left:2%;
  padding-right: 2%;
  padding-top: 1%;
}

ul ul{
  margin-left: 1em;
}

ul ol{
  margin-left: 1em;
}

.container7{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.column{
  background-color: snow;
  margin-left: 2%;
  margin-right: 2%;
  padding: 3em;
  min-width: 25%;
}

#yarn{
  margin-left: 2%;
  margin-right: 2%;
  min-width: 20%;
}

h4 {
  color:#13732e;
  font-family: 'Times New Roman', Times, serif;
  font-style:italic;  
  margin: 1% 2% 1% 2%;
  font-size: 1.2em;
  font-style:bold;
}

.captionBack{
  background-color:#13732e;
  color: snow;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 1%;
  min-width: 35%;
  margin-bottom: 1%;
}

.h2left {
  text-align: end;
  margin-right: 15%;
}

#syntheticNatural{
  padding: 0%;
  justify-content: center;
  margin-right:1%;
}

#disclaimer{
  background-color: #13732e;
  padding: 0.5%;
  margin-top: 0%;
  min-width: 80%;
}

#disclaimer p{
  color: snow;
  background-color:#13732e;
  margin: 2%;
}

.container8{
  display: flex;
  flex-direction: row;
  text-wrap: wrap;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  justify-content: center;
}

#toolMaterials{
  text-wrap: wrap;
}

.container9{
  display: flex;
  flex-direction: column;
  text-wrap: wrap; 
  min-width: 28%;
}

#columnImages{
  width:  50em;
  height: 100%;
  object-fit: cover;
  margin: 1%;
  margin-left: 2%;
  background-color:#13732e;
  color: snow;
}

ol {
  margin-left: 4%;
  background-color: snow;
  color:rgb(29, 37, 42) ;
  font-family: 'Times New Roman', Times, serif;
  padding: 0% 1% 0% 1%;
}

.yarnBullet dt{
  display: list-item;
  list-style-image: url('Images/pinkYarn.ico');
  margin-left: 5%;
  padding: 0.5em;
}

.yarnBullet dd{
  margin-left: 6%;
}

.container10 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#woodenTools{
  padding: 2%;
  width: 92.5%;
}

ul ul{
  list-style-type: circle;
}

ul ol{
  list-style-type: circle;
}